<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="this.posts.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let post of this.posts">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ post.title }} </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.title" />
    </div>
    {{ post.content}}
    <mat-action-row
      *ngIf="this.userIsAuthenticated && this.userId === post.creator"
    >
      <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
      <button mat-button color="warn" (click)="this.onDelete(post.id || '')">
        DELETE
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p *ngIf="this.posts.length <= 0 && !isLoading" class="info-text mat-body-1">
  No Posts added yet!
</p>
<mat-paginator
  [length]="this.totalPosts"
  [pageSize]="this.postsPerPage"
  [pageSizeOptions]="this.pageSizeOptions"
  (page)="this.onChangedPage($event)"
  *ngIf="this.posts.length > 0"
></mat-paginator>
